{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
{% include "navigation/navbar.html.twig" %}
<div class="wrapper">
    {% include "navigation/asidenav.html.twig" %}
    <div id="page-content-wrapper">
        <div class="container">
            <form method="post">
                {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <div class="jumbotron bg-lightgray">
                    <h1 class="color-connexion mb-3">Connectez-vous à votre profil</h1>
                    <label for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
                        required autofocus>
                    <label for="inputPassword">Mot de passe</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" required>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <button class="btn btn-lg btn-turquoise text-center mt-4" type="submit">
                        Connexion
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}