{% extends 'base.html.twig' %}
{% block body %}
<div class="wrapper">
    {% include "asidenav.html.twig" %}
    <div id="page-content-wrapper">
        <div class="container-fluid color-account">
            <div class="row mb-4">
                <div class="col-2">
                    <a class="navbar-brand ml-5 pl-5" href="/">
                        {% include 'logoSvg.html.twig' %}
                    </a>
                </div>
                {% if app.user.roles[0] == "ROLE_VANLIFER" %}
                {% include 'vanlifer/profile/presentation_vanlifer.html.twig' with {vanlifer: vanlifer} only %}
                {% include 'profile_template/nav_vanlifer.html.twig' with {vanlifer: vanlifer} only %}
                {% endif %}
                {% if app.user.roles[0] == "ROLE_artisan" %}
                {% include 'artisan/presentation_artisan.html.twig' with {artisan: artisan} only %}
                {% include 'artisan/nav_artisan.html.twig' with {artisan: artisan} only %}
                {% endif %}
                <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                    {% if app.user.roles[0] == "ROLE_VANLIFER" %}
                    <img src="{{ vich_uploader_asset(vanlifer, 'profilePictureFile') }}"
                        class="img-fluid size-img-account" alt="">
                    {% endif %}
                    {% if app.user.roles[0] == "ROLE_ARTISAN" %}
                    <img src="{{ vich_uploader_asset(artisan, 'profilePictureFile') }}"
                        class="img-fluid size-img-account" alt="">
                    {% endif %}
                </div>
            </div>
            <div class="row justify-content-around align-items-center">
                <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12 mr-5 bg-lightgrey mx-auto pt-4 pb-4">
                    <div class="col-12">
                        {% block content %}{% endblock content %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}