{% extends 'base.html.twig' %}

{% block title %}Edit AdsVan{% endblock %}

{% block body %}
<h1>Edit AdsVan</h1>

{{ include('ads_van/_form.html.twig', {'button_label': 'Update'}) }}

{% if app.user.roles[0] == "ROLE_VANLIFER" %}
<a href="{{ path('vanlifer_ads_van_index', {'slug': vanlifer.slug}) }}">back to list</a>
{% endif %}

{% if app.user.roles[0] == "ROLE_ARTISAN" %}
<a href="{{ path('artisan_ads_van_index', {'slug': artisan.slug}) }}">back to list</a>
{% endif %}

{{ include('ads_van/_delete_form.html.twig') }}
{% endblock %}