{% extends 'base.html.twig' %}

{% block title %}New AdsVan{% endblock %}

{% block body %}
    <h1>Create new AdsVan</h1>

    {{ include('ads_van/_form.html.twig') }}
    {% if app.user.roles[0] == "ROLE_VANLIFER" %}
    <a href="{{ path('vanlifer_ads_van_index', {'slug': vanlifer.slug}) }}">back to list</a>
    {% endif %}
    {% if app.user.roles[0] == "ROLE_ARTISAN" %}
    <a href="{{ path('artisan_ads_van_index', {'slug': artisan.slug}) }}">back to list</a>
    {% endif %}
    
{% endblock %}
