{% extends 'profile_template/profile_template.html.twig' %}
{% block title %}Edit AdsVan{% endblock %}

{% block content %}

{{ include('adsVan/_form.html.twig', {'button_label': 'Update'}) }}

{% if app.user.roles[0] == "ROLE_VANLIFER" %}
<a href="{{ path('vanlifer_adsVan_index', {'slug': vanlifer.slug}) }}">back to list</a>
{% endif %}

{% if app.user.roles[0] == "ROLE_ARTISAN" %}
<a href="{{ path('artisan_adsVan_index', {'slug': artisan.slug}) }}">back to list</a>
{% endif %}

{{ include('adsVan/_delete_form.html.twig') }}

{% endblock content %}
