{% extends 'base.html.twig' %}

{% block title %}New AdsVan{% endblock %}

{% block body %}
    <h1>Create new AdsVan</h1>

    {{ include('ads_van/_form.html.twig') }}

    <a href="{{ path('vanlifer_ads_van_index') }}">back to list</a>
{% endblock %}
