<div class="text-right">
    <form method="post" 

        {% if app.user.roles[0]=="ROLE_VANLIFER" %}
        action="{{ path('vanlifer_adsVan_delete', {'slug': vanlifer.slug, 'id': adsVan.id}) }}" 
        {% endif %} 

        {% if app.user.roles[0]=="ROLE_ARTISAN" %}
        action="{{ path('artisan_adsVan_delete', {'slug': artisan.slug, 'id': adsVan.id}) }}" 
        {% endif %}

        onsubmit="return confirm('Are you sure you want to delete this item?');">

        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ adsVan.id) }}">
        <button class="btn btn-orange"><i class="far fa-trash-alt"></i></button>
    </form>
</div>